<div class="logo-top">
	<span>
		<img src="/images/logo.png" width="100px"/>
	</span>
</div>

<div class="nav">
	<a class="nav-link <%= currentMenu === 'home' ? 'active' : '' %>" href="/">Home</a>
	<a class="nav-link <%= currentMenu === 'about' ? 'active' : '' %>" href="/about/">About Me</a>
	<a class="nav-link <%= currentMenu === 'projects' ? 'active' : '' %>" href="/projects/">Projects</a>
	<a class="nav-link <%= currentMenu === 'services' ? 'active' : '' %>" href="/services/">Services</a>
	<a class="nav-link <%= currentMenu === 'contact' ? 'active' : '' %>" href="/contact/">Contact Me</a>
	<a class="nav-link <%= currentMenu === 'login' ? 'active' : '' %>" href="/login/">Login</a>
	<a class="nav-link <%= currentMenu === 'business_contacts' ? 'active' : '' %>" href="/business_contacts/">Business Contacts</a>
</div>
